<ul class="bc-page-bar ui-widget-content ui-widget ui-helper-clearfix">
	<li v-if="refreshable" class="icon ui-state-default ui-corner-all" title="刷新" @click="this.$dispatch('change', 'clickRefresh', this.pageNo, this.pageSize)">
		<span class="ui-icon ui-icon-refresh"></span>
	</li>
	<template v-if="pageable">
		<li class="icons ui-state-default ui-corner-all">
			<a href="#" class="icon ui-state-default ui-corner-all" @click="toPage(1)">
				<span class="ui-icon ui-icon-seek-first" title="首页"></span>
			</a>
			<a href="#" class="icon ui-state-default ui-corner-all" @click="toPage(Math.max(this.pageNo - 1, 1))">
				<span class="ui-icon ui-icon-seek-prev" title="上一页"></span>
			</a>
			<span class="pageNo">
				<span>{{pageNo}}</span>/<span>{{pageCount}}</span>(<span>{{count}}</span>)
			</span>
			<a href="#" class="icon ui-state-default ui-corner-all" @click="toPage(Math.min(this.pageNo + 1, this.pageCount))">
				<span class="ui-icon ui-icon-seek-next" title="下一页"></span>
			</a>
			<a href="#" class="icon ui-state-default ui-corner-all" @click="toPage(this.pageCount)">
				<span class="ui-icon ui-icon-seek-end" title="尾页"></span>
			</a>
		</li>
		<li class="icons ui-state-default ui-corner-all" title="每页显示的数量">
			<a href="#" v-for="s in pageSizes" class="icon ui-state-default ui-corner-all" :class="{'ui-state-active': pageSize == s}" @click="changePageSize(s)">
				<span class="pageSize">{{s}}</span>
			</a>
		</li>
	</template>
	<li v-if="exportable" class="icon ui-state-default ui-corner-all" title="导出" @click="this.$dispatch('export', -1)">
		<span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
	</li>
	<li v-if="importable" class="icon ui-state-default ui-corner-all" title="导入" @click="this.$dispatch('import')">
		<span class="ui-icon ui-icon-arrowthickstop-1-n"></span>
	</li>
</ul>