/*! 搜索框样式 */

/* 容器 */
.bc-vue-search {
	position: relative;
	display: inline-block;
}

/* 模糊搜索区 */
.bc-vue-search > .fuzzy > div {
	display: inline-block;
	position: relative;
}

/* 搜索图标 */
.bc-vue-search > .fuzzy .search {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 2px;
	cursor: pointer;
}

/* 模糊搜索输入框 */
.bc-vue-search > .fuzzy input.fuzzy {
	box-sizing: border-box;
	padding: .34em 18px;
	width: 12em;
	/*height: 2.5em;*/
	font-family: inherit;
	font-size: 1em;
}

/* 添加特定条件的图标 */
.bc-vue-search > .fuzzy .add {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 2px;
	cursor: pointer;
}

/* 高级搜索区 */
.bc-vue-search > .advance {
	position: relative;
	margin-top: -2px;
	background-image: none;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 90;
	overflow: auto;
	display: flex;
	flex-direction: column;
	/*max-height: 25em;*/
}
.bc-vue-search > .advance > .conditions{
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	flex-grow: 1;
	min-width: 20em;
}
.bc-vue-search .operate {
	padding: 0.4em;
	border-width: 1px 0 0 0;
}

/* 单个条件 */
.bc-vue-search .condition {
	margin: 0.4em;
}
.bc-vue-search .condition .label {
	opacity: 0.65;
}
.bc-vue-search .condition .value {
	position: relative;
	display: flex;
	flex-direction: row;
}
.bc-vue-search .condition .value > div{
	display: inline-block;
}
.bc-vue-search .condition .value > div.left,
.bc-vue-search .condition .value > div.right{
	flex-grow: 1;
	background-color: gray;
}
.bc-vue-search .condition .value input, 
.bc-vue-search .condition .value select {
	box-sizing: border-box;
	min-width: 9em;
	width: 100%;
	padding: .34em 0 .34em .34em;
	font-family: inherit;
	font-size: 1em;
	/*height: 2em;*/
}
.bc-vue-search .condition .value input {
	/* select组件固定有4px的左边间隙无法去除，此样式为了对齐input和select的首个字母 */
	padding-left: calc(0.34em + 4px);
}
.bc-vue-search .condition .value .left, 
.bc-vue-search .condition .value .right {
	position: relative;
}

.bc-vue-search .operate button {
	font-family: inherit;
}