/*! 树节点样式 */
.bc-vue-tree .bc-vue-tree.ui-widget-content {
	border-width: 0;
}
.bc-vue-tree > div.self {
	position: relative;
	display: flex;
	flex-direction: row;
	border-width: 0;
	cursor: default;
	line-height: 1.8em;
}
.bc-vue-tree > .self > span {
	display: inline-block;
	flex: none;
}
.bc-vue-tree > .self > span:last-child {
	flex: 1 1 0%;
	padding-right: 0.25em;
}
.bc-vue-tree > .self > span.ui-icon {
	margin: calc((1.8em - 16px) / 2) 0;
}


/*! .bc-page 内 tree-view 不显示外边框 */
.bc-page > .bc-vue-tree-view > .bc-vue-toolbar {
	border-width: 0 0 1px 0;
}
.bc-page > .bc-vue-tree-view > .panel > .bc-vue-tree {
	border-width: 0 1px 0 0;
}
.bc-page > .bc-vue-tree-view > .panel > .bc-vue-grid {
	border-width: 0;
}

/*! .bc-page 内 tree-view 显示外边框 */
.bc-page > .bc-vue-tree-view.border > .bc-vue-toolbar {
	border-width: 1px 1px 1px 1px;
}
.bc-page > .bc-vue-tree-view.border > .panel > .bc-vue-tree {
	border-width: 0 1px 1px 1px;
}
.bc-page > .bc-vue-tree-view.border > .panel > .bc-vue-grid {
	border-width: 0 1px 1px 0;
}


/*! 带树视图的布局 */
.bc-vue-tree-view {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: none;
	font-weight: normal;
}
/*-- 工具条 */
.bc-vue-tree-view > .bc-vue-toolbar {
	flex: none;
}
/*-- tree+grid 的容器 */
.bc-vue-tree-view > .panel {
	flex: 1 1 0%;

	display: flex;
	flex-direction: row;
}
/*---- tree */
.bc-vue-tree-view > .panel > .bc-vue-tree {
	flex: none;
	overflow: auto;
	min-width: 8em;
	border-top-width: 0;
}
/*---- grid */
.bc-vue-tree-view > .panel > .bc-vue-grid {
	flex: 1 1 0%;
	border-top-width: 0;
	border-left-width: 0;
}